.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    width: 100%; /* Adjust to 100% */
}

.welcome-container h1 {
    margin-bottom: 20px;
}

button {
    background-color: #f0c14b;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

button:hover {
    background-color: #e2b33b;
}

.app-product {
    width: 100%;
    margin-top: 20px;
}


.welcome-message {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}
